.deli-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.deli-list{
    width: calc((100% - 100px) / 3);
    margin: 20px auto;
    padding: 10px;
}

.card-body{
    display: flex;
}

.deli-image{
    width: 33vh;
    height: 33vh;
}

.deli-user-icon{
    background-color: #a2cd39;
    width: 80px;
    height: 80px;
    text-align: center;
}

.deli-summary{
    padding: 10px;
}

.deli-name{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.deli-little-summary{
    width: 150%;
}

.deli-user{
    
}

.deli-category{
    display: block;
    text-align: right;
}