.main-content{
    height: 750px;
    padding-left: 10vw;
    padding-top: 15vw;
    background:url('sign_in.jpg');
    background-size: cover;
}

.main-message{
    font-size: 72px;
    color: whitesmoke;
    text-shadow: 3px 3px 5px #595757;
}

.message-fade{
    animation-name: fadeIn;
    animation-fill-mode: backwards;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.site-overview{
    min-height: 70vh;
    margin: 500px auto;
}

.site-message{
    margin: 80px auto;
    text-align: center;
    font-size: 24px;
}

.message-line{
    position: relative;
}

.message-line:before,
.message-line:after{
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background: #a2cb39;
    border-radius: 10px;

    transition: all 2s linear;
    transition-delay: 0.2s;
}

.message-line:before{
    right: 10vw;
    top: 0;
}

.message-line:after{
    left: 10vw;
    bottom: 0;
}

.message-line span{
    padding: 30px;
    display: block;
}

.message-line span:before,
.message-line span:after{
    content: "";
    position: absolute;
    width: 3px;
    height: 0;
    background: #a2cb39;
    border-radius: 10px;
    transition: all 2s linear;
}

.message-line span:before{
    left: 10vw;
    top: 0;
}

.message-line span:after{
    right: 10vw;
    bottom: 0;
}

.message-line-appear:before,
.message-line-appear:after{
    width: 100%;
}

.message-line-appear span:before,
.message-line-appear span:after{
    height: 100%;
}

.deli-introduction{
    margin-bottom: 250px;
}

.introduction-title{
    margin-bottom: 100px;
    text-align: center;
    font-size: 48px;
    position: relative;
}

.title-line:after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 30vw;

    width: 40vw;
    height: 5px;
    background: #a2cb39;

    transition: all 2s;
    transform: scale(0,1);
    transform-origin: center top;
    animation-iteration-count: infinite;
}

.title-line-move:after{
    transform: scale(1,1);
}

.deli-fadeUp{
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime{
    from{
      opacity: 0;
      transform: translateY(100px);
    }
    to{
      opacity: 100;
      transform: translateY(0);
    }
}

.post-together{
    display: flex;
    justify-content: center;
    padding: 30px 15px;
}

.lets-post{
    font-size: 24px;
}

.signin-or-up{
    width: 250px;
}

.index-signin,.index-signup{
    text-decoration: none;
    margin: 10px;
    /* padding: 30px; */
    border: 2px solid #ffe23f;
}