<%= render "shared/header" %>

<div class="destroy-complete">
  <h2 class="complete-message">投稿を削除しました</h2>
  <div class="root-link">
    <%= link_to "TOPページへ戻る", root_path, class:"back-root" %>
  </div>
</div>

<%= render "shared/footer" %>