<%= render "shared/header" %>
<p class="search-title">検索結果</p>
  <ul class="deli-wrapper">
    <% @search_delis.each do |deli| %>  
      <li class="deli-list">
        <%= render partial:"delis/deli", locals: {deli:deli} %>
      </li>
    <% end %>
  </ul>
<%= render "shared/footer" %>