.registration-main{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('sign_in.jpg');
    background-size: cover;
    
}

.login-wrap{
    width: 50%;
    min-width: 800px;
    height: 80vh;
    background-color: rgba(213,244,217,0.7);
}

.login-html{
    margin: 50px;
}

.sign-in-htm{
    padding: auto;
}

.form-group-login{
    margin: 18px auto 60px;
    padding: 10px 50px 0;
}

.tab, .label {
    font-weight: bold;
}

.page-title{
    text-align: center;
    font-size: 32px;
}

.title{
    margin:0 auto 10px;
    width: 100%;
    font-size: 14px;
}


.input-default{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    border:double 5px #f7b021 ;
    resize: none;
    box-sizing: border-box;
}

.login-btn{
    width: 240px;
    height: 48px;
    background-color: #f7b021;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    display: block;
    border: none;
    color: #383838;
}
